*{padding: 0;margin: 0;}
.container{height: 100vh;
            width: 100vh;
            color: #444;
            background: #ffe7e3;
            text-align: center;}
.love, .yes, .no{
    padding-top: 35%;
}
h2{font-size: 40px; margin-bottom: 20px;}
.love span{color: #fc9786;}
.love a{text-decoration: none;
    background: #eee;
    padding: 5px;
    margin: 25px 25px;
    border: 3px solid #ddd;
    border-radius: 10px;
}
#no{color: red;}
#yes{color: green;}
img{height: 30px;width: 30px;
    animation: heart 4s linear infinite;}


@keyframes heart{
    0%{transform: scale(.5);}
    50%{transform: scale: (1.5);}
    100%{transform: scale: (.50);}
}